body {
    background-color: #eee9e3;
}

.k1 {
    background-color: #f6f6f6;
}

.k2 {
    background-color: #eee9e3;
}

.k3 {
    background-color: #c2bbb4;
}

button.white {
    background-color: #f6f6f6 !important;
}

.c-white {
    color: white !important;
}