body {
    min-height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/beige-abstract-wallpaper-background-image_53876-102527.jpg?w=2000);
    background-attachment: fixed;
    background-size: cover;
}